/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.env
welcome.html
home.html
login.html
login.html
/public/images/1629193592-WP1.jpg
/public/images/1629193636-katamba.jpg
/public/images/1629193729-ggg.jpg
/public/images/1629193765-katamba.jpg
/public/images/1629193794-WP1.jpg
.env

database/migrations/2022_09_20_154350_create_audios_table.php
database/migrations/2022_09_20_154350_create_audios_table.php
public/hive_videos/bees2.mp4
public/hive_audios/bee_swarming.mp3
MODULES/__pycache__/register_media.cpython-310.pyc
MODULES/register_media.py
public/hivevideo/bees2.mp4
